<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>This is homepad <%= 3+2+1+2 %></h1>
    <p><%= randomr *10 %> Lorem ipsum, dolor sit amet consectetur
         adipisicing elit. Illo cupiditate nostrum molestias,
          voluptates rem est voluptatem sit, natus harum possimus sapiente 
        esse commodi id voluptatum ut corrupti? Dolore, placeat ad.</p>
    
</body>
</html>